.basket {
  padding-bottom: 12rem;
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .none-basket {
      background-color: black;
      padding: 1rem;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      gap: 2rem;
      p {
        font-size: 1.5rem;
        font-weight: 700;
      }
      a {
        background-color: white;
        padding: 0.5rem;
        border-radius: 5px;
      }
    }

    h2 {
      font-weight: 700;
      font-size: 1.5rem;
    }
    .basket-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .basket-card {
        width: 100%;
        display: flex;
        gap: 2rem;
        img {
          width: 180px;
          object-fit: contain;
          mix-blend-mode: multiply;
        }

        .basket-card-info {
          width: 100%;

          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          h3 {
            font-weight: 700;
            font-size: 1.6rem;
          }
          & > p {
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .basket-card-controller {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;

            .controller {
              display: flex;
              gap: 1.5rem;
              align-items: center;

              button {
                padding: 0.5rem;
                font-weight: 700;
                font-size: 1.5rem;
              }
            }
            p {
              font-weight: 700;
              font-size: 1.8rem;
              background-color: black;
              color: white;
              padding: 0.5rem;
            }
          }
          button {
            padding: 1rem;
            font-weight: 700;
            background-color: black;
            color: white;
            &:hover {
              filter: brightness(80%);
            }
          }
        }
      }
    }
    .basket-total {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      color: white;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1rem;
      h3 {
        font-size: 2rem;
        font-weight: 700;
        border-bottom: 1px solid black;
        padding-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}
